<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>

		<title>DeviantFeed Example</title>

	</head>

	<body>
		<h1>DeviantFeed Example</h1>
		<ul id="deviantArtFeed">
			{{#items}}
			<li>
				<h2>{{title}}</h2>
				{{#files}}
				<div class="image">
					<img src="{{#thumbnail-300}}{{url}}{{/thumbnail-300}}{{^thumbnail-300}}{{#image}}{{url}}{{/image}}{{/thumbnail-300}}" alt="{{title}}" />
					<p class="caption">{{&description}}</p>
				</div>
				{{/files}}
			</li>
			{{/items}}
		</ul>

	</body>

</html>
